.container {
    width: 960px;
    margin: auto;
}

.color-scheme {
    background-color: black;
    color: white;
}

html, body {
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
}

.title {
    padding: 0.66rem 0;
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 0.5rem;
    padding-right: 1rem;
    height: 1.5rem;
    display: inline-block;
}

.banner {
    background: url("../images/moto.jpeg");
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.banner-box {
    width: 22rem;
    position: relative;
    top: 9rem;
    display: flex;
    flex-direction: column;
}

.banner-box p {
    padding: 2rem 0 0.25rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.desktop, .tablet {
    background-color: firebrick;
}

.desktop li, .tablet {
    display: inline-block;
    padding: 0.75rem 2rem;
}

.desktop a, .tablet a {
    color: white;
    text-decoration: none;
}

.tablet {
    display: none;
    text-align: center;
}

section {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 30%;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
}

.item img {
    width: 9rem;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.item p {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.detail {
    display: flex;
    flex-direction: column;
    width: 35%;
}

#hours, #location {
    padding: 1rem 0 1rem 2rem;
}

footer {
    height: 5rem;
}

footer p {
    padding-top: 2.5rem;
}

@media only screen and (max-width: 1024px) {
    .desktop, .glasses {
        display: none;
    }
    .tablet {
        display: block;
    }
    .watch, .pen {
        width: 47%;
        height: auto;
    }
    .gallery {
        justify-content: space-between;
        height: 20rem;
    }
    .container {
        height: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 470px) {
    .watch {
        display: none;
    }
    .information {
        flex-direction: column;
        justify-content: center;
    }
    .pen {
        width: 90%;
        margin: auto;
    }
    .item p {
        width: 100%;
    }
    .detail {
        width: 90%;
        margin: auto;
        margin-bottom: 0.5rem;
    }
    .banner-box {
        width: 100%;
        position: relative;
        top: 18rem;
        left: 0;
    }
    .banner-box p {
        font-size: 0.77rem;
    }
    h1 {
        font-size: 1rem;
    }
}
